<div class="parent-container">
    <div class = "first-section">
        <div class="col s12">
        <div class="row animated fadeIn slower">
        <h3>Welcome to {{title}}, a site where you can review and discover music.</h3>
        </div>
        <div class="row">
        {{#if currentUserId}}
        <a class="start-btn" href="search"><button class="animated pulse btn-large waves-light z-depth-3">Write A Review</button></a>
        {{else}}
        <a class="start-btn" href="users/new"><button class=" animated pulse btn-large waves-light z-depth-3">Get Started</button></a>
        {{/if}}
        </div>
        </div>
    </div>
    </div>
<div class="container row">
    <h3 class="center-align">New Releases</h3>
    {{#each albums as |album|}}
    <div class="col s3 new-release animated fadeInRight fast">
      <div class="card hoverable">
        <div class="card-image">
          <img src="{{album.img}}">
        </div>
        <div class="card-title center-align">
          <h6><b>{{album.name}}</b></h6>
          <h6>{{album.artist}}</h6>
        </div>
        <div class="card-action center-align">
          <form action="/reviews/new?album={{album.name}}&artist={{album.artist}}&uri={{album.uri}}&img={{album.img}}" method="post">
          <button class="btn waves-effect waves-light col s5" type="submit">Review</button>
          <a style="margin-left: 10px;" href="/reviews/album?name={{album.name}}&artist={{album.artist}}&uri={{album.uri}}" class="col s5 offset-s5"><button class="btn waves-effect waves-light" type="button">View Reviews</button></a>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 contact-info">
        <h5 class="black-text">Built by Sid Rao</h5>
        <a href="https://www.linkedin.com/in/siddharth-rao/"><img height="48" src="/images/linkedin.svg"></a>
        <a href="https://github.com/ra0s"><img height="48" src="/images/github.svg"></a>
        <a href="mailto:sidrrao01@gmail.com"><img height="48" src="/images/email.svg"></a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">You can view and contribute to the project <a href="https://github.com/ra0s/music-review-site/">here</a></h5>
      </div>
    </div>
  </div>
  </div>
</footer>