<div class="parent-container">
    <div class = "first-section">
        <div class="col s12">
        <div class="row animated fadeIn slower">
        <h3>Welcome to {{title}}, a site where you can review and discover music.</h3>
        </div>
        <div class="row">
        {{#if currentUserId}}
        <a class="start-btn" href="search"><button class="animated pulse btn waves-effect waves-light z-depth-3">Write A Review</button></a>
        {{else}}
        <a class="start-btn" href="users/new"><button class=" animated pulse btn waves-effect waves-light z-depth-3">Get Started</button></a>
        {{/if}}
        </div>
        </div>
    </div>
    </div>
<div class="container row">
    <h3 class="center-align">New Releases</h3>
    {{#each albums as |album|}}
    <div class="col s3 new-release animated fadeInRight">
      <div class="card">
        <div class="card-image">
          <img src="{{album.img}}">
        </div>
        <div class="card-content center-align">
          <h6>{{album.name}} by {{album.artist}}</h6>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {{/each}}
</div>
  {{!-- <div class="container col s12 carousel carousel-slider center">
      {{!-- {{#each albums as |album|}}
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect">button</a>
        <a class="btn waves-effect">Button 2</a>
    </div>
    <div class="carousel-item white black-text">
      <h2>{{album.name}} by {{album.artist}}</h2>
      <img style="width: 220px; height: 220px;"src="{{album.img}}">
    </div>
    {{/each}} --}}
    {{!-- <div class="col s6 card carousel-item white black-text" href="#one">
        <div class="card-image" id="dispImg">
          <img src="{{albums.[0].img}}">
        </div>
        <div class="card-content">
          <h5>{{albums.[0].name}} by {{albums.[0].artist}}</h5>
          <br>
          <a class="btn waves-effect">button</a>
          <a class="btn waves-effect">Button 2</a>
        </div>
    </div>
        <div class="col s6 card carousel-item white black-text" href="#one">
        <div class="card-image" id="dispImg">
          <img src="{{albums.[1].img}}">
        </div>
        <div class="card-content">
          <h5>{{albums.[1].name}} by {{albums.[1].artist}}</h5>
          <br>
          <a class="btn waves-effect">button</a>
          <a class="btn waves-effect">Button 2</a>
        </div>
    </div>
    <div class="col s6 card carousel-item white black-text" href="#one">
        <div class="card-image" id="dispImg">
          <img src="{{albums.[2].img}}">
        </div>
        <div class="card-content">
          <h5>{{albums.[2].name}} by {{albums.[2].artist}}</h5>
          <br>
          <a class="btn waves-effect">button</a>
          <a class="btn waves-effect">Button 2</a>
        </div>
    </div>
        <div class="col s6 carousel-item white black-text" href="#one">
      <div class="card">
        <div class="card-image" id="dispImg">
          <img src="{{albums.[3].img}}">
        </div>
        <div class="card-content">
          <h5>{{albums.[3].name}} by {{albums.[3].artist}}</h5>
          <br>
          <a class="btn waves-effect">button</a>
          <a class="btn waves-effect">Button 2</a>
        </div>
      </div>
    </div> --}} 

<script>
 var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });
</script>