<div class="parent-container">
    <div class = "first-section">
        <div class="col s12">
        <div class="row animated fadeIn slower">
        <h3>Welcome to {{title}}, a site where you can review and discover music.</h3>
        </div>
        <div class="row">
        {{#if currentUserId}}
        <a class="start-btn" href="search"><button class="animated pulse btn-large waves-light z-depth-3">Write A Review</button></a>
        {{else}}
        <a class="start-btn" href="users/new"><button class=" animated pulse btn-large waves-light z-depth-3">Get Started</button></a>
        {{/if}}
        </div>
        </div>
    </div>
    </div>
{{!-- <div class="container row">
    <h3 class="center-align">New Releases</h3>
    {{#each albums as |album|}}
    <div class="col s3 new-release animated fadeInRight fast">
      <div class="card hoverable">
        <div class="card-image">
          <img src="{{album.img}}">
        </div>
        <div class="card-title center-align">
          <h6><b>{{album.name}}</b></h6>
          <h6>{{album.artist}}</h6>
        </div>
        <div class="card-action center-align">
          <form action="/reviews/new?album={{album.name}}&artist={{album.artist}}&uri={{album.uri}}&img={{album.img}}" method="post">
          <button class="btn waves-effect waves-light col s5" type="submit">Review</button>
          <a style="margin-left: 10px;" href="/reviews/album?name={{album.name}}&artist={{album.artist}}&uri={{album.uri}}" class="col s5 offset-s5"><button class="btn waves-effect waves-light" type="button">View Reviews</button></a>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
</div> --}}

<div class="container row">
    <h3 class="center-align">New Releases</h3>

    <div class="col s3 new-release animated fadeInRight fast">
      <div class="card hoverable">
        <div class="card-image">
          <img src="https://i.scdn.co/image/421b4a0ceca3adf0ada587af39884619b6d0517f">
        </div>
        <div class="card-title center-align">
          <h6><b>Thunderclouds</b></h6>
          <h6>Sia</h6>
        </div>
        <div class="card-action center-align">
          <form action="/reviews/new?album=Thunderclouds&artist=Sia&uri=spotify:album:6LK12zrllpjwB43YA4QX8d&img=https://i.scdn.co/image/421b4a0ceca3adf0ada587af39884619b6d0517f" method="post">
          <button class="btn waves-effect waves-light col s5" type="submit">Review</button>
          <a style="margin-left: 10px;" href="/reviews/album?name=Thunderclouds&artist=SIa&uri=spotify:album:6LK12zrllpjwB43YA4QX8d" class="col s5 offset-s5"><button class="btn waves-effect waves-light" type="button">View Reviews</button></a>
          </form>
        </div>
      </div>
    </div>
    <div class="col s3 new-release animated fadeInRight fast">
      <div class="card hoverable">
        <div class="card-image">
          <img src="https://i.scdn.co/image/e9d2a4132a1337edc55a0ba6514446fe574fadc4">
        </div>
        <div class="card-title center-align">
          <h6><b>Know.</b></h6>
          <h6>Jason Mraz</h6>
        </div>
        <div class="card-action center-align">
          <form action="/reviews/new?album=Know.&artist=Jason%20Mraz&uri=spotify:album:7dwIWyB2jdJgL3P2JEgRKm&img=https://i.scdn.co/image/e9d2a4132a1337edc55a0ba6514446fe574fadc4" method="post">
          <button class="btn waves-effect waves-light col s5" type="submit">Review</button>
          <a style="margin-left: 10px;" href="reviews/album?name=Know.&artist=Jason%20Mraz&uri=spotify:album:7dwIWyB2jdJgL3P2JEgRKm" class="col s5 offset-s5"><button class="btn waves-effect waves-light" type="button">View Reviews</button></a>
          </form>
        </div>
      </div>
    </div>
    <div class="col s3 new-release animated fadeInRight fast">
      <div class="card hoverable">
        <div class="card-image">
          <img src="https://i.scdn.co/image/51808c64f6d9e4b9f7337e641a8bc87c996e5dbb">
        </div>
        <div class="card-title center-align">
          <h6><b>Weekend</b></h6>
          <h6>Kane Brown</h6>
        </div>
        <div class="card-action center-align">
          <form action="/reviews/new?album=Weekend&artist=Kane%20Brown&uri=spotify:album:5kv25KI43lTo4rzgJKaaFz&img=https://i.scdn.co/image/51808c64f6d9e4b9f7337e641a8bc87c996e5dbb" method="post">
          <button class="btn waves-effect waves-light col s5" type="submit">Review</button>
          <a style="margin-left: 10px;" href="/reviews/album?name=Weekend&artist=Kane%20Brown&uri=spotify:album:5kv25KI43lTo4rzgJKaaFz" class="col s5 offset-s5"><button class="btn waves-effect waves-light" type="button">View Reviews</button></a>
          </form>
        </div>
      </div>
    </div>
    <div class="col s3 new-release animated fadeInRight fast">
      <div class="card hoverable">
        <div class="card-image">
          <img src="https://i.scdn.co/image/1ab97df000596d224199bbf7492e2bb5d09ea297">
        </div>
        <div class="card-title center-align">
          <h6><b>ASTROWORLD</b></h6>
          <h6>Travis Scott</h6>
        </div>
        <div class="card-action center-align">
          <form action="/reviews/new?album=ASTROWORLD&artist=Travis%20Scott&uri=spotify:album:41GuZcammIkupMPKH2OJ6I&img=https://i.scdn.co/image/1ab97df000596d224199bbf7492e2bb5d09ea297" method="post">
          <button class="btn waves-effect waves-light col s5" type="submit">Review</button>
          <a style="margin-left: 10px;" href="/reviews/album?name=ASTROWORLD&artist=Travis%20Scott&uri=spotify:album:41GuZcammIkupMPKH2OJ6I" class="col s5 offset-s5"><button class="btn waves-effect waves-light" type="button">View Reviews</button></a>
          </form>
        </div>
      </div>
    </div>

    
  
</div>


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 contact-info">
        <h5 class="black-text">Built by Sid Rao</h5>
        <a href="https://www.linkedin.com/in/siddharth-rao/"><img height="48" src="/images/linkedin.svg"></a>
        <a href="https://github.com/ra0s"><img height="48" src="/images/github.svg"></a>
        <a href="mailto:sidrrao01@gmail.com"><img height="48" src="/images/email.svg"></a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">You can view and contribute to the project <a href="https://github.com/ra0s/music-review-site/">here</a></h5>
      </div>
    </div>
  </div>
  </div>
</footer>