<div class="container displayResults">
{{#each albums as |album|}}
<div class="row">
  <div class="col s12  resultsCard">
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{album.img}}">
      </div>
      <div class="card-stacked">
        <div class="card-content s12">
          <form action="/reviews/new?album={{album.name}}&artist={{album.artist}}&uri={{album.uri}}&img={{album.img}}" method="post">
            <div class="row">
              <h5 class = "col s12">{{album.name}} by {{album.artist}}</h5>
            </div>
            <div class="row">
              <button class="btn waves-effect waves-light col s4" type="submit">Review this album</button>
              <a class="col s4 offset-s1" href="/reviews/album?name={{album.name}}&artist={{album.artist}}"><button class="btn waves-effect waves-light" type="button">View Reviews</button></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{/each}}
</div>