<div class = "container album-reviews">
  {{#if reviews}}
    <h3 class="header center-align">Reviews for {{name}} by {{artist}}</h3>
    <h4 class="header center-align">Average rating: {{average}}/10</h4>
  <div class="row">
    <div class="col s4 center-align" style=" position: fixed;width: 25%;">
      <div class="card-panel review-info animated fadeInDown slow" style="width:420px; height:465px">
        <span class="black-text review-body">
            <iframe src="https://open.spotify.com/embed?uri={{uri}}" width="390" height="420"frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </span>
      </div>
    </div>
    <div class="col s8 " style="margin-left: 450px;">
        {{#each reviews as |review|}}
    <div class="card horizontal animated fadeInUp slow hoverable">
      <div class="card-image" style="width: 171px">
        <img src="{{review.img}}">
      </div>
      <div class="card-stacked">
        <div class="card-content" style="padding-bottom:0">
          <h5>{{review.album_name}} by {{review.artist_name}}</h5>
          <br>
          <h6>{{review.rating}}/10</h6>
          <p>{{review.summary}}</p>
        </div>
        <div class="card-action">
          <a class="col s4"href="/reviews/{{review._id}}">Read Full Review</a>
          <a class="col s4"href="/users/profile?user={{review.username}}">Reviewed by {{review.username}}</a>
        </div>
      </div>
    </div>
      {{/each}}
  </div>
  </div>
  {{/if}}
    {{#unless reviews}}
  <div class="col s12 center-align">
      <h4>There are no reviews available for this album. Write the first review or take a listen below!</h4>
         <button class="btn-large waves-effect waves-light" type="button" onclick="goBack()">Go Back</button>
  </div>  
  <div class="card-panel col s3 center-align" style="margin-top: 30px;margin-left:32%; width: 35%;">
            <iframe src="https://open.spotify.com/embed?uri={{uri}}" width="390" height="420"frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</ul>
{{/unless}}
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>