<div class = "container album-reviews">
    <h2 class="header center-align">Reviews for {{name}} by {{artist}}</h2>
    <ul>
  {{#each reviews as |review|}}
    <div class="col s12 m7">
    <div class="card horizontal animated fadeInUp slow hoverable">
      <div class="card-image">
        <img src="{{review.img}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>{{review.album_name}} by {{review.artist_name}}</h5>
          <br>
          <h6>{{review.rating}}/10</h6>
          <p>{{review.summary}}</p>
        </div>
        <div class="card-action">
          <a href="/reviews/{{review._id}}">Read Full Review</a>
          <a class="col s2"href="/users/profile?user={{review.username}}">Reviewed by {{review.username}}</a>

        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="col s12 center-align">
      <h3>There are no reviews available for this album. Write the first review!</h3>
         <button class="btn waves-effect waves-light" type="button" onclick="goBack()">Go Back
        </button>
  </div>  
  {{/each}}
</ul>

</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>