<div class="container reviews-index">
<ul>
  {{#each reviews as |review|}}
    <div class="col s12 m7">
    <div class="card horizontal hoverable animated fadeInUp">
      <div class="card-image">
        <img src="{{review.img}}" style="width:171px">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>{{review.album_name}} by {{review.artist_name}}<h5>
          <br>
          <h6>{{review.rating}}/10</h6>
          <p>{{review.summary}}</p>
        </div>
        <div class="card-action">
          <div class="row">
            <a class="col s2"href="/reviews/{{review._id}}">Read Full Review</a>
            <a class="col s2"href="/users/profile?user={{review.username}}">Reviewed by {{review.username}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>    
  {{/each}}
</ul>
</div>