
<div class="row reviewForm">
<img src="{{album.img}}" style="height:256px">    
<form class="col s12" action="/reviews" method="post">
<div class="row">
    <h4 class="col s12">Write Review</h4>
</div>
    <div class="row">
    <div class="input-field col s12 form-group">
        <i class="material-icons prefix">album</i>
        <input readonly id="album_name" type="text" class="materialize-textarea" name="album_name" value="{{album.name}}" style="color:black">
        <label for="album_name">Album Name</label>
    </div>
    </div>
    <div class="row">
        <div class="input-field col s12 form-group">
            <i class="material-icons prefix">person_outline</i>
            <input readonly id="artist_name" type="text" class="materialize-textarea" name="artist_name" value="{{album.artist}}" style="color:black">
            <label for="artist_name">Artist Name</label>
        </div>
    </div>
    <div class="row">
    <div class="input-field col s12 form-group">
        <i class="material-icons prefix">create</i>
        <textarea required id="review" class="materialize-textarea" name="review" maxlength="7500"></textarea>
        <label for="review">Review</label>
        <span class="char-count" style="float:right; font-size: 12px;"></span> 
    </div>
    </div>
    <div class="row">
        <div class="input-field col s9 form-group">
            <i class="material-icons prefix">notes</i>
            <textarea required id="summary" class="materialize-textarea" name="summary" maxlength="240"></textarea>
            <label for="summary">Short summary of your thoughts</label>
            <span class="char-count" style="float:right; font-size: 12px;"></span> 
        </div>
        <div class="input-field col s3 form-group">
            <i class="material-icons prefix">rate_review</i>
            <input required id="rating" type="number" min="1" max="10" class="materialize-textarea" name="rating">
            <label for="rating">Overall Rating (1-10)</label>
        </div>
    </div>
    
    <input type="hidden" value="{{album.img}}" name="img" for="img">
    <input type="hidden" value="{{album.uri}}" name="uri" for="uri">
    <div class = "row submit-btn">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
    </button>
    </div>

</form>
</div>
<script>

    var counter = document.getElementsByClassName('char-count');
    var review = document.getElementById('review');
    review.onkeyup = () => {
        var length = review.value.length;
        counter[0].innerHTML = length + '/7500 characters';
    }
    var summary = document.getElementById('summary');
    summary.onkeyup = () => {
        var length = summary.value.length;
        counter[1].innerHTML = length + '/240 characters';
    }


</script>