<div class="container">
 <div class="row" style="width: 120%">
    <div class="col s4 center-align" style="position: fixed; width: 25%;">
      <div class="card-panel review-info animated fadeInDown slow" style="width:480px; height:500px">
        <span class="black-text review-body">
            <h4>{{review.album_name}} by {{review.artist_name}}</h4>
            <iframe src="https://open.spotify.com/embed?uri={{review.uri}}" width="390" height="420"frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </span>
      </div>
      <div class="row">
      <form action="/reviews/new?album={{review.album_name}}&artist={{review.artist_name}}&uri={{review.uri}}&img={{review.img}}" method="POST">
        <button class="btn waves-effect waves-light animated fadeInDown" type="submit" method="POST">Review this album</button>
      </form>
      </div>
      <div class="row">
        <a class="animated fadeInDown" href="/reviews/album?name={{review.album_name}}&artist={{review.artist_name}}">
        <button class="btn waves-effect waves-light" type="button">All Reviews for {{review.album_name}}</button></a>
      </div>
    </div>
    <div class="col s7 offset-s4">
      <div class="card-panel review-info animated fadeInUp">
        <span class="black-text review-body">
            <h5>{{review.username}} rates {{review.album_name}} as a {{review.rating}}/10</h5>
            <h6><i>"{{review.summary}}"</i></h6>
        </span>
      </div>
      <div class="card-panel review-info animated fadeInUp slow">
        <span class="black-text review-body">
          <h5>Full Review:</h5>
          <p>{{review.review}}</p>
        </span>
      </div>
    </div>
    <div id="edit-btn" class="col s1">
    </div>
  </div>
</div>

<script>
  var edit = document.getElementById('edit-btn');
  
  window.onload = () => {
    console.log('IN ONLOAD')
    if( '{{currentUsername}}' == '{{review.username}}')
    {
      edit.innerHTML = '<a class="animated slideInUp" style="position:fixed" href="/reviews/{{review._id}}/edit">\n'+
                  '<button class="btn waves-effect waves-light" type="button">\n' +
                    'EDIT\n' + 
                    '</button>\n' +
                    '</a>';
    }
  }
</script>
